@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaProRegular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

.position1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
  top: 3%;
}
.burger {
  position: absolute;
  left: 90%;
  transform: translate(-50%);
  z-index: 1000;
  top: 3%;
}
input[type="search"] {
  border: 1px solid #ffffff;
  box-shadow: 0px 1px 5px -2px rgba(2, 2, 2, 0.555);
  background-color: #ffffff;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding-left: 40px;
}
.noir {
  border: 1px solid #858585 !important;
  box-shadow: 0px 1px 5px -2px rgba(255, 255, 255, 0.692) !important;
  background-color: #858585 !important;
}
.search-container {
  width: 100%;
  max-width: 300px;
  height: 28px;
}
.search-icon {
  position: relative;
  width: 20px;
  height: 20px;
  top: -24px;
  right: -8px;
  background-position: center center;
  background-size: contain;
  z-index: 10000000000;
  background-image: url(../assets/searchlogo.png);
}
.search-icon-w {
  background-image: url(../assets/searchlogow.png) !important;
}

.burger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.dark {
  color: white !important;
}

.bagoche {
  justify-content: center;
}

.francisporc {
  font-family: Sofia Pro;
  font-size: 14px;
  z-index: 10000;
  bottom: 13px;
  left: 22px;
  position: absolute;
  color: black;
}

.switch {
  z-index: 10000;
  position: absolute;
  bottom: 50px;
  left: 40px;
  display: inline-block;
  width: 60px;
  height: 28px;
  background-color: transparent;
  border: 0px solid transparent;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(180, 180, 180);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(31, 31, 31);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(31, 31, 31);
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  /* display: none; */
}

.slider.round:before {
  border-radius: 50%;
}

/* Pop up */
.popUp {
  /* display: none !important;*/
  font-family: Sofia Pro;
  width: 380px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 450;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 1);
}

.popUp .containerImg {
  height: 200px;
  width: 100%;
}

.popUp .containerImg img {
  width: 100%;
  height: 100%;
}

.popUp .title {
  margin: 20px;
}

.popUp .desc {
  overflow: auto;
  height: 200px;
  text-justify: left;
}

.popUp .btn {
  margin-top: 20px;
  cursor: pointer;
  padding: 10px;
  background-color: #13821375;
}
